{% extends 'rmp_bd_app/base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rmp_bd/style.css' %}">

{% block content %}

<h1> Departments of the {{ university }}:</h1>
<ul>
  {% for entry in departments %}
    <li>
      <!--p>{{ entry.date_added|date:'M d, Y H:i' }}</p-->
      <a href="{% url 'rmp_bd_app:professor' entry.id %}">{{ entry.department_name}}</a>
    </li>
  {% empty %}
    <li>There are no entries for this topic yet.</li>
  {% endfor %}
</ul>
<button id="addnewbutton"><a href="{% url 'rmp_bd_app:new_department'%}">Add a New Department</a></button>
{% endblock content %}
