<head>
    <meta charset="UTF-8">
    <title>Rate My Professor</title>
</head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rmp_bd/stylecss.css' %}">

{% block content %}

<link href=
'https://fonts.googleapis.com/css?family=Antonio'
          rel='stylesheet' />
<body style = "background-color:#03539a;">
<div class="indexbody">
  <center>
<div id="indexlogo"><img src="static/rmp_bd/rmplogoblue.png", alt="logo", class = "indeximage"></div>
        <div>
        <form action="{% url 'rmp_bd_app:search_results' %}" method="get">
            <div id=searchbar>
                <input id="searchbox" name="q" type="text" placeholder="Search..."><br>
                <label for="Search"> Search Globally</label>
                <input type="checkbox" id="search" name="search globally" value="search globally">
            </div>
        </form>
        </div>
      <a href="{% url 'rmp_bd_app:universities' %}"><button>List of Universities</button></a>
  </center>
</div>
</body>
{% endblock content%}
