<head>
    <meta charset="UTF-8">
    <title>Rate My Professor</title>
</head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rmp_bd/stylecss.css' %}">

{% block content %}

<link href=
'https://fonts.googleapis.com/css?family=Antonio'
          rel='stylesheet' />
<body style = "background-color:#03539a;">
<div class="indexbody">
  <center>
<div id="indexlogo"><img src="static/rmp_bd/rmplogoblue.png", alt="logo", class = "indeximage"></div>
        <div id=searchbar>
          <input type="text" id="searchbox" value="Search"><br>
        </div>
      <a href="{% url 'rmp_bd_app:universities' %}"><button>List of Universities</button></a>
  </center>
</div>
</body>
{% endblock content%}
