<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Details</title>
</head>
{% extends 'rmp_bd_app/base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rmp_bd/style.css' %}">

{% block content %}
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link href=
'https://fonts.googleapis.com/css?family=Antonio'
          rel='stylesheet' />
<link href=
'https://fonts.googleapis.com/css?family=Roboto'
          rel='stylesheet' />

<div id="stats">
<div id="professor">
    <a href=""><h1>{{professor.honorific}} {{professor.first_name}} {{professor.last_name}}</h1> </a>
    <a href=> {{ professor.current_university }}</a><br>
    <a href=>Department of {{ professor.department }}</a><br>
    <a href = "{% url 'rmp_bd_app:new_feedback' professor.id %}" ><button>Rate Professor</button></a>
</div>
<div id="scores">
  <div id= "scoretitle">
    <div style= "margin-left: 70px;"><h1>Overall Quality</h1></div>
    <div style= "margin-left: 70px; margin-right: 70px;"><h1>Level of Difficulty</h1></div>    </div>
  <div id="scorevalues" style = "margin-left: 100px;">
  <div ><h1>{rating}</h1></div>
  <div><h1>{raing}</h1></div></div>
</div><!-- scores -->
</div><!-- stats -->
<hr style="margin-top: 30px;">

<div id="ratingheadings">
<h2>Student Ratings:</h2>
<div id="ratingsorts">
  <h2>Course:</h2>
  <select name="Course" id="Course"></select>
  <h2 style="margin-left: 30px;">Sort by:</h2>
  <select name="Sortby" id="Sortby"></select>
</div>
</div><!-- rating headings -->


<p>{review.text}</p>
{% endblock content %}