{% extends 'rmp_bd_app/base.html' %}
{% block content %}

<h1> Faculties of the {{ department }}:</h1>
<ul>
  {% for professor in professor %}
    <li>
      <!--p>{{ entry.date_added|date:'M d, Y H:i' }}</p-->
      <a href="{% url 'rmp_bd_app:professor_details' professor.id %}">{{ professor.honorific }} {{ professor.first_name }} {{ professor.last_name }}</a>
    </li>
  {% empty %}
    <li>There are no entries for this topic yet.</li>
  {% endfor %}
</ul>
<button id="addnewbutton"><a href="{% url 'rmp_bd_app:new_faculty'%}">Add a new Faculty</a></button>
{% endblock content %}