{% extends 'rmp_bd_app/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<h2>Sign up Form</h2>
<button type="button" onclick="location.href = '/student_signup';">Student</button>
<button type="button" style="background-color: darkgreen; color: white" disabled>Professor</button>
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ professor_form.as_p }}
    <input type="submit">
</form>
<p>Already have an account? <a href="{% url 'rmp_bd_app:signin' %}"> Sign In</a>
{% endblock %}
